
#nav-bar {
    padding: 10px;
}

.nav-lists {
    display: inline-block;
    margin-right: 10px;
}

.nav-lists a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.nav-lists a:hover {
    background-color: #ccc;
}
main{
    max-width: 800px;
    margin:20px auto;
    padding:0 20px 0;
}
header{
    background-color: #45a049;
}
.p{
  background-color: bisque;
}
body{
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 20px;
}
section{
    margin:0cqmax;

}
form{
    max-width: 400px;
    margin: 50px;
}
footer{
    background-color: aqua;
    color:azure;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom:100%px
}
form {
    max-width:200px;
    margin:0px;
}

label {
    display:flex;

}

input, select, textarea {
    width: 100%;
    padding:4px;
    margin-bottom: 10px;
    /* box-sizing: border-box; */
}

button {
    background-color: #4CAF50;
    color: white;
    padding:0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
